<!DOCTYPE html>
<html>
  <head>
    <title>RailsIntro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <h1>My First Rails Site</h1>
    </nav>
    <%= yield %>
  </body>
</html>
