<!DOCTYPE html>
<html>
  <head>
    <title>TunrDb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <header>
      <nav>
        <h1>Tunr</h1>

        <% if @current_user.present?  %>
          Welcome, <%= @current_user.name %>
          |
          <%= link_to 'Logout', login_path, method: 'delete' %>
        <% else %>
          <%= link_to 'Login', login_path %>
          |
          <%= link_to 'Sign Up', new_user_path %>
        <% end %>



      </nav>
      <hr>
    </header>

    <%= yield %>

    <footer>
      <hr>
      &copy; Sonic Chaos Productions 2020
    </footer>

  </body>
</html>
