
<h2>
  <%= @planet.name %>
</h2>

<%= link_to 'Edit Planet', edit_planet_path(@planet.id) %>
|
<%= link_to 'Delete Planet', destroy_planet_path(@planet.id) %>

<p>
  <strong>Mass: </strong>
  <%= @planet.mass %> earth masses
</p>

<p>
  <strong>Orbit: </strong>
  <%= @planet.orbit %> earth orbits
</p>

<p>
  <strong>Moons: </strong>
  <%= @planet.moons %>
</p>

<%= image_tag @planet.image_url, alt: @planet.name %>
<!-- <img src="<%= @planet.image_url %>" alt="<%= @planet.name %>"> -->
